<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Privacy - Camera Usage Description</key>
    <string>We need camera access to scan your receipts</string>
    
    <key>NSCameraUsageDescription</key>
    <string>This app needs camera access to scan receipts</string>
    
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <!-- Add specific URL type details here if necessary -->
        </dict>
    </array>
</dict>
</plist>
